<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.txxw.hr.dao.mapper.AnnexurlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.txxw.hr.dao.pojo.Annexurl">
        <id column="id" property="id" />
        <result column="jobseekerId" property="jobseekerId" />
        <result column="resume" property="resume" />
        <result column="portfolio" property="portfolio" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, jobseekerId, resume, portfolio
    </sql>

</mapper>
